@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="jumbotron text-center bg-primary text-white p-5 mb-4">
    <div class="container">
        <h1 class="display-4">@Model.Value("pageTitle")</h1>
        <p class="lead">@Model.Value("bodyContent")</p>
    </div>
</section>
